<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .button {
            background-color: #4CAF50;
            border-radius: 25px;
            border: none;
            color: white;
            padding: 15px 15px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 0 auto;
            line-height: 18px;
            padding: 5px;
          }
    </style>
</head>
<body>
    <h2 align="left">What Is TypeCast.Life?</h2>
    <blockquote class="blockquote text-center">
        <p class="mb-0">WHO DO <u>THEY</u> THINK YOU ARE?</p>
    </blockquote>

    <p class="list-group-item-text lead" style="text-align: left;">TypeCast.Life! "Who do they think you are"? is a worldwide sociology experiment. It is an attempt at causing a fundamental change in the way every human being treats every other human being. It is an attempt to get every man, woman and child to realize that every other man, woman and child deserves the benefit of the doubt that they are a good human being. Too many times we lose out on the opportunity of making friends, business, partners and even life partners, because we let our past dictate how we judged somebody now.</p>
    <p class="list-group-item-text lead" style="text-align: center;">Join The Experiment today! Curious to see what people think of you? Find out what YOUR TypeCast.Life! is! <a class="button"href="/about-page">LEARN MORE</a></p>

        
</body>
</html>