<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TypeCast.Life! About</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- End of new imports: -->
   
    <style>
        @media screen and (max-width: 778px) {
            .responsive-form{
                width:100%;
            }
        }
    .dot {
        position: relative;
        bottom: 3px;
        height: 5px;
        width: 5px;
        background-color: black;
        border-radius: 50%;
        display: inline-block;
    }
    </style>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="container responsive-form">
        <div class="container">
            <ul class="list-group">
              <li class="list-group-item">
                <center><h2>About TypeCast.Life!</h2></center>
                <hr>
                <h3 class="list-group-item-heading">
                    Step One:
                </h3>
                <p class="list-group-item-text lead" style="text-align: left;">
                    Upload two photos of yourself from head to toe; As you would be seen walking down the street on any given day. Then provide your email address & postal zip code.
                </p>
              </li>

              <li class="list-group-item clearfix">
                <h3 class="list-group-item-heading">
                    Step Two:
                </h3>
                <p class="list-group-item-text lead" style="text-align: left;">
                    Choose 10 questions from a choice of 100. These questions range in intensity and you can choose the questions that you feel comfortable answering. There are multiple choice answers to each question for you to choose from. Choose the answer that best fits you.
                </p>
              </li>

              <li class="list-group-item clearfix">
                <h3 class="list-group-item-heading">
                    Step Three:
                </h3>
                <p class="list-group-item-text lead" style="text-align: left;">
                    View other peoples pictures and their chosen questions and try to figure out how they have answered based on their appearance alone.
                    <br><span style="font-size: 12px;color:red;">TypeCast.Life! will tell you your percentage of accuracy for free.</span>
                </p>
              </li>

              <li class="list-group-item clearfix">
                <h3 class="list-group-item-heading">
                    For $1 per month:
                </h3>
                <p class="list-group-item-text lead" style="text-align: left;">
                    <span class="dot"></span><span style="margin-left: 10px;">You will learn the real answers of each person that you Typecasted.</span>
                </p>
                <p class="list-group-item-text lead" style="text-align: left;">
                    <span class="dot"></span><span style="margin-left: 10px;">You will learn how you are Typecasted by others. What kind of a first impression do you make?</span>
                </p>

                <p class="list-group-item-text lead" style="text-align: left;">
                    <span class="dot"></span><span style="margin-left: 10px;">You will learn something that your family, friends and strangers will rarely tell you. How do others perceive you at first glance? You can change your questions at any time and learn more in-depth aspects of the way others perceive you.</span>
                </p>

                <p class="list-group-item-text lead" style="text-align: left;">
                    <span class="dot"></span><span style="margin-left: 10px;">TypeCast.Life! is intended to create growth and learning for the participant. It is an attempt to increase humanities acceptance and love for one another. TypeCast.Life! is a world wide sociology experiment based in the believe that everyone deserves the benefit of the doubt when it comes to acceptance and love regardless of their exterior appearance. We are all deserving of acceptance & love.</span>
                </p>

                <p class="list-group-item-text lead" style="text-align: left;">
                    <span class="dot"></span><span style="margin-left: 10px;">Those that you are typecasting and those typecasting you, will be 500 miles or more away. You cannot type any messages or contact the other participants. This is an anonymous experiment. Please be respectful as you would wish to be respected and do not abused this experiment by posting any images other than described. Please answer all questions honestly as This is not a game. This is real life typecasting that happens to you & everyone else countless times everyday.</span>
                </p>
              </li>

              <li class="list-group-item clearfix">
                <h3 class="list-group-item-heading">
                    Catch Phrases:
                </h3>
                <p class="list-group-item-text lead" style="text-align: left;">
                    <i>The "Don't judge a book by its cover" app</i><br>
                    <i>The "Ultimate People Watching" app!</i>
                </p>

                <li class="list-group-item clearfix">
                    <p class="list-group-item-text lead" style="text-align: left;">
                        Have you ever sat on a bench in the park or in the mall, or anywhere, and observed the people walking by? Have you ever wondered what they were all about? Have you ever tried to imagine any intricate characteristics that those you are observing might have? Have you ever wondered how right or wrong you are in your observations and judgments?
                    </p>
                    <p class="list-group-item-text lead" style="text-align: left;">
                        TypeCast.Life! Who do they think you are? We'll tell you just that! How accurate are you in typecasting others & how do others Typecast you?
                    </p>
                    <p class="list-group-item-text lead" style="text-align: center;">
                        SO WHAT ARE YOU WAITING FOR!? People want to typecast YOU! IT'S HUMAN NATURE! ;)
                    </p>
                    <div style="text-align: center; font-size:20px;font-weight:bold;padding-bottom:20px;">
                        <a class="button" href="/payment-page" style=>Sign Up For Premium Membership</a>
                    </div>
                  </li>    
              </li>
            </ul>
          </div>
    </div>
    <%- include('partials/footer') %>
</body>
</html>