/* Text Elements */

h1 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
  }
  
  p.paragraph {
    color: #808080;
    font-weight: 300;
    font-size: .81rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5rem;
  }
  
  a.link-text.text-link-1 {
    justify-self: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
            align-self: center;
  }
  
  /* Layout Elements */
  
  body {
    height: 100%;
  }
  
  span.glyph.font-icon-2 {
    min-height: 0;
    color: #f06615;
    font-size: 30px;
  }
  
  .container-grid.nav-bar {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -ms-flex-pack: justify;
    padding: 10px;
  
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
            justify-content: space-between;
  }
  
  @media screen and (min-width: 36rem) {
    /* Text Elements */
  
    p.paragraph {
      font-size: 1.25rem;
      line-height: 1.53rem;
    }
  }
  
  @media screen and (min-width: 48rem) {
    /* Text Elements */
  
    h1 span.heading-text-1 {
      color: #1f1c1c;
    }
  
    h1 span.heading-text-2 {
      text-decoration: none;
    }
  
    h1 span.heading-text-4 {
      text-decoration: none;
    }
  
    h1 span.heading-text-3 {
      text-decoration: underline;
    }
  
    h1 span.heading-text-5 {
      color: rgba(128, 50, 128, .8);
      text-transform: none;
      font-size: 1rem;
    }
  
    h1.heading-2 {
      text-transform: none;
    }
  
    h1 font.heading-text-6 {
      text-transform: none;
    }
  
    h1.heading-3 {
      text-align: center;
    }
  
    h1 font.heading-text-7 {
      text-transform: none;
    }
  
    p.paragraph {
      font-weight: 300;
      font-size: .93rem;
      line-height: 1.7rem;
    }
  
    p.paragraph span.paragraph-text-2 {
      color: #1f1c1c;
    }
  
    p.paragraph span.paragraph-text-3 {
      font-weight: 700;
    }
  
    p.paragraph span.paragraph-text-4 {
      font-weight: 700;
    }
  
    p.paragraph span.paragraph-text-5 {
      color: #130550;
      font-weight: 700;
    }
  
    p.paragraph.paragraph-1 {
      text-align: center;
    }
  
    p.paragraph.paragraph-3 {
      color: #fff;
      text-align: center;
    }
  
    p.paragraph.paragraph-4 {
      text-align: center;
  
      justify-self: auto;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
              align-self: auto;
    }
  
    p.paragraph.paragraph-5 {
      margin-bottom: 0;
    }
  
    p.paragraph.paragraph-6 {
      text-align: center;
    }
  
    a.link-text.text-link-1 {
      color: #fff;
      text-decoration: none;
      text-transform: none;
      font-weight: 600;
      font-size: 22px;
      font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
    }
  
    /* Interaction Elements */
  
    a.link-button.btn {
      margin-top: 20px;
      margin-bottom: 30px;
      background-color: #f06615;
      color: #fff;
      text-align: center;
      text-decoration: none;
    }
  
    a.link-button.button-link-1 {
      color: #2405ab;
      text-decoration: none;
      text-transform: none;
      font-weight: 800;
      font-style: normal;
      font-variant: normal;
      font-family: 'Roboto', cursive;
    }
  
    form.form-container.form-container-1 {
      display: -webkit-box;
      display: -webkit-flex;
      display:    -moz-box;
      display: -ms-flexbox;
      display:         flex;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 20px;
      border-style: solid;
      border-color: #aba8a8;
      border-radius: 7px;
      background-color: #f1f0f0;
  
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
      -webkit-align-self: center;
      -ms-flex-item-align: center;
              align-self: center;
      justify-self: auto;
    }
  
    input[type=text].input-1 {
      margin-bottom: 15px;
      padding-bottom: 1px;
      -webkit-transition-delay: 0s;
         -moz-transition-delay: 0s;
           -o-transition-delay: 0s;
              transition-delay: 0s;
      -webkit-transition-timing-function: ease;
         -moz-transition-timing-function: ease;
           -o-transition-timing-function: ease;
              transition-timing-function: ease;
      -webkit-transition-duration: 0s;
         -moz-transition-duration: 0s;
           -o-transition-duration: 0s;
              transition-duration: 0s;
      -webkit-transition-property: none;
         -moz-transition-property: none;
           -o-transition-property: none;
              transition-property: none;
    }
  
    input[type=text].input-2 {
      margin-bottom: 15px;
    }
  
    input[type=text].input-3 {
      margin-bottom: 0;
    }
  
    .container-grid.nav-bar {
      background-color: #5b5959;
    }
  
    span.glyph.font-icon-2 {
      color: #f37f3a;
    }
  
    .container-grid.sd-three-cols {
      display: -webkit-box;
      display: -webkit-flex;
      display:    -moz-box;
      display: -ms-flexbox;
      display:         flex;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-pack: center;
      -ms-flex-align: start;
      margin-top: 20px;
      margin-bottom: 20px;
      -webkit-column-fill: balance;
         -moz-column-fill: balance;
              column-fill: balance;
  
      -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
              align-content: flex-start;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
         -moz-box-align: start;
              align-items: flex-start;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
              justify-content: center;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
              align-self: auto;
      justify-self: auto;
      -webkit-box-flex: 0;
      -webkit-flex: 0;
         -moz-box-flex: 0;
          -ms-flex: 0;
              flex: 0;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
         -moz-box-orient: horizontal;
         -moz-box-direction: normal;
    }
  
    .container-grid.container-2 {
      -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
              align-self: flex-start;
    }
  
    button.btn {
      margin-bottom: 15px;
      background-color: #aba8a8;
      color: #fff;
  
      justify-self: auto;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
              align-self: auto;
    }
  
    .container-grid.container-3 {
      background-color: #aba8a8;
    }
  
    .container-grid.sd-two-cols {
      margin-top: 40px;
      background-color: #5b5959;
    }
  
    .container-grid.container-4 {
      display: -webkit-box;
      display: -webkit-flex;
      display:    -moz-box;
      display: -ms-flexbox;
      display:         flex;
      -ms-flex-pack: center;
  
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
              justify-content: center;
    }
  }
  
  @media screen and (min-width: 62rem) {
    /* Text Elements */
  
    p.paragraph {
      font-size: .93rem;
      line-height: 2rem;
    }
  
    /* Interaction Elements */
  
    a.link-button.btn {
      display: block;
      float: none;
      clear: none;
      min-width: 100px;
      max-width: 150px;
      background-color: #f06615;
      color: #fff;
      text-align: center;
      text-decoration: none;
      text-transform: none;
      white-space: nowrap;
  
      grid-area: elementArea;
      justify-self: center;
    }
  }